@import "variables";

body {
    background-color: black;
}

canvas {
    position: relative;
    top: 0;
    left: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 100%;
    min-height: 100%;

}

.content-wrapper {
    color: #fff;
}
.content {
    color: #fff;
}
.content img {
    min-width: 100%;
}
.container .content-wrapper .content {
    color: #fff;
}